



		<div class="navbar"  style="background-color: #e3f2fd;" role="navigation" *ngIf ="currentUser">
				<div class="container"> 
					<div class="navbar-header">
						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span> 
						</button>
						<a href="#" class="navbar-brand">{{ currentUser.structure | uppercase}}</a>
					</div>
					<div class="collapse navbar-collapse">
						<ul class="nav navbar-nav">
							<li><a href="#" (click) = "home()" *ngIf="pageAdmin">Home</a></li>
                                              <li class="active"><a a href="#" (click) = "administrer()"  *ngIf="!pageAdmin">Admin</a></li>            
						 </ul>
						 <ul class="nav navbar-nav navbar-right">
								<li class="dropdown">
									<a href="#" class="dropdown-toggle" data-toggle="dropdown">
										<span class="glyphicon glyphicon-user"></span> 
										<strong>{{ currentUser.username | uppercase}}</strong>
										
									</a>
									<ul class="dropdown-menu">
										<li>
											<div class="navbar-login">
												<div class="row">
													<div class="col-lg-4">
														<p class="text-center">
															<span class="glyphicon glyphicon-user icon-size"></span>
														</p>
													</div>
													<div class="col-lg-8">
														<p class="text-left"><strong>Nombre Apellido</strong></p>
														<p class="text-left small">correoElectronico@email.com</p>
														<p class="text-left">
															<a href="#" class="btn btn-primary btn-block btn-sm">Actualizar Datos</a>
														</p>
													</div>
												</div>
											</div>
										</li>
										<li class="divider"></li>
										<li>
											<div class="navbar-login navbar-login-session">
												<div class="row">
													<div class="col-lg-12">
														<p>
															<a href="#" class="btn btn-danger btn-block">Cerrar Sesion</a>
														</p>
													</div>
												</div>
											</div>
										</li>
									</ul>
								</li>
								<li class="active"><a a href="#" (click) = "logout()">Logout</a></li>  
							</ul>
						</div>
					</div>
				</div>

	<!--<div class="row" *ngIf ="currentUser">
	<div  class="col-md-10">
		Welcome <strong>{{ currentUser.username | uppercase}}</strong><br>
		Structure : <strong>{{ currentUser.structure | uppercase}}</strong>
	</div>
	<div class="col-md-2">
		
		<span class="text-left" [hidden]="pageAdmin">
		<button type="button" class="btn btn-info"   (click) = "administrer()">Admin</button>
		</span>
		<span class="text-left">
		<button type="button" class="btn btn-warning" (click) = "logout()">Log Out</button> 
		</span>
		
 
	</div>
	</div>
</div>-->
		<div [hidden]="!pageAdmin" *ngIf ="currentUser">
			<admin-app></admin-app>

			<button type="button" class="btn btn-default" (click) = "backclick()">
       			<span class="glyphicon glyphicon-arrow-left"></span> Back
			</button>
		</div>
		 <div [hidden]="pageAdmin">
                       <router-outlet></router-outlet>
               </div>

